.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
  }
  
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
  }
  
.nav-link {
    font-size: 1.2rem;
    color: #343a40;
  }
  
body {
    background-color: rgb(27, 34, 34);  
  }

  @import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

h1 {
    padding-top: 90px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    color: #222222;
    text-align: center;
  }
  
h2 {
    padding-top: 20px;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 50px;
  }
  
blockquote {
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
  }
  
figcaption {
    text-align: center;
  }
 .lapenko {
    padding-top: 20px;
    border:
    2px       /* width */
    solid     /* style */
    rgb(41, 147, 153);

    }
